:root {
    /* 主页文字颜色 */
    --vp-home-hero-bg-color1: #2d60ec;
    --vp-home-hero-bg-color2: #3ccfda;


    /* 按钮颜色 */
    /* --vp-c-indigo-3:#33c5a9; */
    /* --vp-c-indigo-2:#0095ff; */

    --vp-c-brand-dark: #0095ff;
    --vp-c-brand-darker: #0095ff;

    --vp-c-danger: #ff0000;
}


.dark {
    --vp-home-hero-bg-color1: #3ccfda;
    --vp-home-hero-bg-color2: #2d60ec;

    

    /* --vp-c-indigo-3:#0095ff; */
    /* --vp-c-indigo-2:#33c5a9; */

}