:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;

}

.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

}

/* 自定义侧边栏在最左边，右边撑满宽度 */
.VPDoc .container {
  margin: 0 !important;
}

@media (min-width: 960px) {
  .VPDoc:not(.has-sidebar) .content {
    max-width: 1552px !important;
  }
}

.VPDoc.has-aside .content-container {
  max-width: 1488px !important;
}

@media (min-width: 960px) {
  .VPDoc:not(.has-sidebar) .container {
    display: flex;
    justify-content: center;
    max-width: 1562px !important;
  }
}

.aside-container {
  position: fixed;
  top: 0;
  padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 10px) !important;
  width: 224px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

/* 自定义h2的间距 */
.vp-doc h2 {
  margin: 0px 0 16px;
  padding-top: 24px;
  border: none;
}

/* 自定义底部距离 */
/* @media (min-width: 768px) {
  .VPFooter {
    padding: 10px !important;
  }
} */

/* 移除标题组件上方空位置 */  
.VPDoc {
  padding: 0px 32px 0 !important;
}

/* 标题上方空位置 */
.vp-doc h1{
  margin-top: 24px !important;
}

@keyframes animate {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

/* 自定义文字渐变 */

.clip{
  background: linear-gradient(120deg, #2d60ec, #3ccfda) !important; 
  -webkit-background-clip: text !important;
  animation: animate 15s linear infinite;
}
/* 自定义图片背景 */
.image-bg {
  position: relative;
  overflow: hidden;
}

.image-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #2d60ec, #3ccfda) !important;
  animation: animate 15s linear infinite;
  filter: blur(50px);
}
/* 自定义按钮背景 */
.VPButton.brand {
  background: linear-gradient(120deg, #2d60ec, #3ccfda) !important;
  background-size: 120% 100% !important;
  color: #fff !important;
  animation: animate 15s linear infinite;
}

/* 自定义feature背景 */
.VPFeature{
  animation: animate 15s linear infinite;
  border-width: 2px !important;
}


/* 图片容器 */
.custom-image-container{
  background-color: var(--vp-c-bg-elv) !important;
  border: var(--vp-c-divider) 1px dashed !important;
  display: inline-block !important;
  max-width: 100% !important;
}

/* 警告框基础样式 */
.custom-block {
  margin: 28px 0;
  padding: 16px;
  /* border-radius: 2px; */
  background-color: var(--vp-c-bg-soft);
  border-left: 5px solid;
  transition: border-color 0.5s, background-color 0.5s;
}

.custom-block p {
  margin: 8px 0;
  line-height: 24px;
  font-size: 1rem;
}

.custom-block-title {
  font-weight: 600;
  margin-bottom: 8px !important;
  font-size: 16px;
}

/* BUG 警告框样式 */
.custom-block.bug {
  border-left-color: #e7c000;
  background-color: #e7c0001a;
}

.dark .custom-block.bug {
  background-color: #e7c00026;
}

.custom-block.bug .custom-block-title {
  color: #e7c000;
}

.custom-block.bug .custom-block-title::before {
  content: "🚧 ";
  margin-right: 6px;
}

/* FAILURE 警告框样式 */
.custom-block.failure {
  border-left-color: #e03131;
  background-color: #e031311a;
}

.dark .custom-block.failure {
  background-color: #e0313126;
}

.custom-block.failure .custom-block-title {
  color: #e03131;
}

.custom-block.failure .custom-block-title::before {
  content: "❌ ";
  margin-right: 6px;
}

/* QUESTION 警告框样式 */
.custom-block.question {
  border-left-color: #f08c00;
  background-color: #f08c001a;
}

.dark .custom-block.question {
  background-color: #f08c0026;
}

.custom-block.question .custom-block-title {
  color: #f08c00;
}

.custom-block.question .custom-block-title::before {
  content: "❓ ";
  margin-right: 6px;
}

/* SUCCESS 警告框样式 */
.custom-block.success {
  border-left-color: #37b24d;
  background-color: #37b24d1a;
}

.dark .custom-block.success {
  background-color: #37b24d26;
}

.custom-block.success .custom-block-title {
  color: #37b24d;
}

.custom-block.success .custom-block-title::before {
  content: "✔ ";
  margin-right: 6px;
}

/* INFO 警告框样式 */
.custom-block.info {
  border-left-color: #0ca678;
  background-color: #0ca6781a;
}

.dark .custom-block.info {
  background-color: #0ca67826;
}

.custom-block.info .custom-block-title {
  color: #0ca678;
}

.custom-block.info .custom-block-title::before {
  content: "ℹ ";
  margin-right: 6px;
}